.landing {
  height: calc(100vh - 65.77px);
  background-color: var(--main-background-color);
}

@media (max-width: 992px) {
  .landing .container {
    justify-content: center !important;
  }
}

.landing .container .info {
  width: 550px;
}

@media (max-width: 992px) {
  .landing .container .info {
    text-align: center;
  }
}

.landing .container .info h1 {
  font-size: 50px;
  margin: 0;
}

.landing .container .info h1 span {
  color: var(--main-color);
  font-weight: 700;
}

.landing .container .info p {
  color: var(--second-text-color);
  margin: 15px 0;
}

.landing .container .info a {
  padding: 15px 30px;
  font-size: 18px;
  background-color: var(--main-color);
  border: none;
}

@media (max-width: 576px) {
  .landing .container .info h1 {
    font-size: 40px;
  }

  .landign .container .info p {
    font-size: 15px;
    letter-spacing: 1px;
  }

  .landing .container .info a {
    padding: 10px 15px;
    font-size: 16px;
  }
}

.landing .container .shape {
  width: 500px;
  height: 250px;
  background-color: var(--main-color);
  border-radius: 200px;
  box-shadow: 10px 10px 30px rgba(14, 168, 155, 0.4),
    -10px -10px 30px rgba(255, 255, 255, 0.2);
  position: relative;
}

@media (max-width: 992px) {
  .landing .container .shape {
    display: none !important;
  }
}

.landing .container .shape img {
  position: absolute;
}

.landing .container .shape img.person1,
.landing .container .shape img.person2 {
  width: 120px;
  border-radius: 50%;
  border: none;
}

.landing .container .shape img.person1 {
  top: -55px;
  background-color: var(--second-color);
}

.landing .container .shape img.person2 {
  bottom: -55px;
  right: 0;
  background-color: #f8c8f8;
}

.landing .container .shape img.statistic1 {
  height: 130px;
  right: 30px;
  top: 10px;
}
.landing .container .shape img.statistic2 {
  height: 120px;
  top: 85px;
  left: 25px;
}

.landing .container .shape img.locationIcon {
  width: 75px;
  right: 10px;
  top: -20px;
}

ul {
  list-style-type: none;
}

.jobExplore {
  padding-top: var(--main-section-top-padding);
  padding-bottom: var(--main-section-bottom-padding);
}

.jobExplore .jobSearchForm {
}

@media (max-width: 678px) {
  .jobExplore .jobSearchForm input[type="search"] {
    width: 250px;
  }
}

.jobExplore .jobSearchForm input {
  width: 400px;
  background-color: #eee;
  padding: 10px 20px;
  outline: none;
  border-radius: 5px 0px 0px 5px;
}

.jobExplore .jobSearchForm button {
  padding: 10px 25px;
  margin-left: -3px;
  background-color: var(--main-color);
  border-radius: 0px 5px 5px 0px;
  color: white;
}

.jobExplore .categoresSlider {
  margin-top: 50px;
  gap: 40px;
  position: relative;
  overflow: hidden;
}

@media (max-width: 1200px) {
  .jobExplore .categoresSlider {
    flex-wrap: wrap;
  }
}

.jobExplore .categoresSlider i:first-of-type,
.jobExplore .categoresSlider i:last-of-type {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 21px;
  cursor: pointer;
  padding: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.jobExplore .categoresSlider i:first-of-type {
  left: 0px;
}

.jobExplore .categoresSlider i:last-of-type {
  right: 0px;
}

.jobExplore .categoresSlider .categore {
  padding: 10px;
  width: 230px;
  height: 230px;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.jobExplore .categoresSlider .categore .icon {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.jobExplore .categoresSlider .categore .icon img {
  width: 125px;
  margin-bottom: -25px;
}

.jobExplore .categoresSlider .categore .categoreName {
  font-size: 20px;
  font-weight: 800;
}

.jobExplore .categoresSlider .categore span {
  font-size: 14px;
  color: #777;
}

.jobExplore .categoresSlider .categore span span.countOfJobs {
  font-weight: 600;
}

.latestJobs {
  padding-top: var(--main-section-top-padding);
  padding-bottom: var(--main-section-bottom-padding);
  background-color: var(--main-background-color);
}

.latestJobs .headTitel,
.cvs .headTitel {
  flex-direction: column;
}

.latestJobs .headTitel p,
.cvs .headTitel p {
  font-size: 16px;
  font-weight: 400;
  color: #777;
}

/* .latestJobs .jobs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
}

.latestJobs .jobs .job {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  border: 0.5px solid #eee;
}

.latestJobs .jobs .job .head {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px;
  position: relative;
}

.latestJobs .jobs .job .head .image img {
  width: 65px;
  margin: 0 5px 10px 0;
}

.latestJobs .jobs .job .head .jobDetails .jobTitle {
  font-weight: 800;
}

.latestJobs .jobs .job .head .tag {
  position: absolute;
  right: 8px;
  font-size: 11px;
  top: 8px;
  padding: 5px 10px;
  background-color: #fff6f0;
  border-radius: 10px;
  color: #ff832b;
}

.latestJobs .jobs .job .body .details .detail {
  display: flex;
  align-items: center;
  gap: 10px;
}

.latestJobs .jobs .job .body .details .detail .icon {
  margin: 0;
}

.latestJobs .jobs .job .body .details .detail .icon i {
  color: #ddd;
  font-size: 17px;
}

.latestJobs .jobs .job .body .details .detail:not(:last-child) {
  margin-bottom: 10px;
}

.latestJobs .jobs .job .body .details span {
  color: #777;
} */

.latestJobs .btn,
.cvs .btn {
  background-color: var(--main-color);
  border: none;
  padding: 10px 20px;
  margin: 80px auto 0;
  display: block;
}

.cvs {
  padding-top: var(--main-section-top-padding);
  padding-bottom: var(--main-section-bottom-padding);
}

.cvs .content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.cvs .content .cv {
  padding: 10px 0px;
  border-radius: 5px;
  position: relative;
  border: 1px solid #eee;
  width: 350px;
}

.cvs .content .cv .image {
  width: 100%;
  height: 200px;
  border-radius: 5px;
  margin-bottom: 10px;
  overflow: hidden;
  margin-left: -13px;
}

.cvs .content .cv .info div {
  margin-bottom: 8px;
  font-weight: 700;
  color: var(--main-color);
  margin-left: 22px;
}

.cvs .content .cv .info div span {
  margin-left: 6px;
  color: #777;
}

.cvs .content .cv .info div.readIn {
  position: absolute;
  font-size: 13px;
  background-color: var(--second-color);
  padding: 3px 7px;
  border-radius: 5px;
  top: 15px;
  right: 18px;
}
