:root {
  --main-color: #0ea89b;
  --second-color: #a5f8f1;
  --main-background-color: #ecfdfc;
  --second-text-color: #565e6c;
  --main-section-top-padding: 90px;
  --main-section-bottom-padding: 90px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  /* font-family: "Sarabun", sans-serif; */
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img.logo {
  width: 200px;
}

/* Start Componant */

.headTitel {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 39px;
  font-weight: 600;
  margin-bottom: 50px;
}

.headTitel .primaryWord {
  color: var(--main-color);
  margin-left: 10px;
  font-size: 43px;
}

/* Start Nav */
nav {
  padding-top: 15px;
  padding-bottom: 15px;
}

nav .container .logo img {
  margin-right: 20px;
}

nav .container > div ul li a {
  color: var(--second-text-color);
  padding: 15px;
  margin-left: 10px;
  transition: 0.3s;
}

nav .container > div ul li a.active {
  font-weight: 600;
}

nav .container ul li a.active,
nav .container ul li a:hover {
  color: var(--main-color);
}

nav .container .icons {
  gap: 15px;
}

nav .container .icons .notification-icon {
  font-size: 17px;
}

nav .container .icons .profile-icon {
  gap: 4px;
  font-size: 11px;
}

nav .container .icons .profile-icon img {
  width: 35px;
  background-color: var(--second-color);
  border-radius: 50%;
}

/* End Nav */

/* Start Fotter  */
footer {
  height: 320px;
  background-color: rgba(23, 26, 31, 1);
  color: white;
  padding: 30px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.footer-logo {
  justify-content: center;
  display: flex;
  align-items: start;
  height: 60%;
  margin-top: 30px;
}
.footer-logo img {
  width: 115px;
}
.footer-section {
  height: 60%;
  justify-content: start;
  display: flex;
  flex-direction: column;
}
.footer-section h3 {
  margin-bottom: 10px;
}
.footer-section ul {
  list-style: none;
  line-height: 35px;
  padding: 0;
}
.footer-section ul li a {
  color: rgba(222, 225, 230, 1);
  font-size: 14px;
  text-decoration: none;
}
.footer-section ul li a:hover {
  color: rgba(14, 168, 155, 1);
}
.footer-subscribe {
  height: 60%;
  line-height: 20px;
}
.footer-subscribe h3 {
  color: rgba(14, 168, 155, 1);
  font-size: 20px;
}
.footer-subscribe p {
  color: rgba(222, 225, 230, 1);
  font-size: 12px;
}
.footer-subscribe form input {
  width: 269px;
  height: 36px;
  background: rgba(29, 29, 29, 1);
  border: 0;
  color: rgba(222, 225, 230, 1);
}
.footer-subscribe form button {
  width: 114px;
  height: 36px;
  background: #009688;
  color: white;
  border: 0;
}
.footer-info {
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 15px;
  font-size: 14px;
}
.footer-info a {
  color: rgba(222, 225, 230, 1);
  text-decoration: none;
}
.footer-social {
  width: 100%;
  display: flex;
  justify-content: end;
  gap: 20px;
  font-size: 19px;
}
.footer-social .twitter {
  color: rgba(46, 186, 232, 1);
}
.footer-social .facebook {
  color: rgba(46, 111, 232, 1);
}
.footer-social .linkedin {
  color: rgba(88, 128, 222, 1);
}
.footer-social .youtube {
  color: rgba(232, 46, 46, 1);
}
.language-selector {
  position: relative;
  bottom: 30px;
}
.language-selector select {
  background: rgba(29, 29, 29, 1);
  color: white;
  width: 127px;
  height: 35px;
  border: 0;
  padding: 5px;
}

/* End Footer */

/* Start Page Componant */
.page {
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.page .container {
}

.page .head {
}

.page .head .title {
}

.page .head .title h1 {
  font-size: 48px;
  line-height: 68px;
  font-weight: 700;
  margin: 40px 0;
}

.page .head .title h1 span {
  color: #0ea89bff;
}

.page .head .searchFilters {
  margin-bottom: 40px;
}
.page .head .searchFilters form {
}

.page .head .searchFilters form .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page .head .searchFilters form .col {
}

.page .head .searchFilters form .col.searchInput {
  flex-grow: 1.5;
  position: relative;
  border-right: 2px solid #dee1e6ff;
}

.page .head .searchFilters form .col.searchInput i {
  position: absolute;
  top: 15px;
  left: 25px;
  font-size: 16px;
  color: var(--main-color);
}

.page .head .searchFilters form .col.searchSelect {
  flex-grow: 1;
}

.page .head .searchFilters form .col input {
  width: 350px;
  height: 44px;
  padding-left: 44px;
  padding-right: 16px;
  font-family: Lato;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  background: #f3f4f6ff; /* neutral-200 */
  border-radius: 6px; /* border-l */
  border-width: 0px;
  outline: none;
}

.page .head .searchFilters form .col label {
}

.page .head .searchFilters form .col select {
  width: 100%;
  height: 44px;
  padding-left: 16px;
  /* padding-right: 44px; */
  font-family: Lato;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #171a1fff; /* neutral-900 */
  background: #f3f4f6ff; /* neutral-200 */
  border-radius: 6px; /* border-l */
  border-width: 0px;
  outline: none;
}

.page .head .searchFilters form .col select option {
}

.page .body {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.page .body .content {
  width: 100%;
}

.page .body .content .totalResult {
  font-size: 16px;
  line-height: 26px;
  font-weight: 600;
  color: #171a1fff;
}

.page .body .content .totalResult span {
  color: var(--main-color);
}

.page .body .content .results {
  margin-top: 25px;
}

.page .body .content .results .result {
  display: flex;
  padding: 15px;
  border: 1px solid #f3f4f6ff;
  border-radius: 4px;
}

.page .body .content .results .result:not(:last-child) {
  margin-bottom: 15px;
}

.page .body .sidebar {
  /* width: 350px; */
  /* background-color: red; */
  width: 348px;
  padding: 20px;
}

.page .switchPage {
  margin: 50px auto;
  display: flex;
  align-items: center;
}

.page .switchPage i {
  padding: 6px 12px;
  cursor: pointer;
}

.page .switchPage i:first-of-type {
}

.page .switchPage .pages {
}

.page .switchPage .pages button {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #9095a0ff;
  background: #ffffffff;
  border-radius: 4px;
  border: 1px solid #dee1e6ff;
  padding: 6px 12px;
}

.page .switchPage .pages button.active {
  color: #ffffffff;
  background: #0b877cff;
}

.page .switchPage i:last-of-type {
}
/* End Page Componant */

/* Start Jobs Box */
.jobs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
}

.jobs .job {
  position: relative;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  border: 0.5px solid #eee;
}

.latestJobs .jobs .job .head {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px;
  position: relative;
}

.jobs .job .head .image img {
  width: 65px;
  margin: 0 5px 10px 0;
}

.jobs .job .head .jobDetails .jobTitle {
  font-weight: 800;
}

.jobs .job .head .tag {
  position: absolute;
  right: 8px;
  font-size: 11px;
  top: 8px;
  padding: 5px 10px;
  background-color: #fff6f0;
  border-radius: 10px;
  color: #ff832b;
}

.jobs .job .body .details .detail {
  display: flex;
  align-items: center;
  gap: 10px;
}

.jobs .job .body .details .detail .icon {
  margin: 0;
}

.jobs .job .body .details .detail .icon i {
  color: #ddd;
  font-size: 17px;
}

.jobs .job .body .details .detail:not(:last-child) {
  margin-bottom: 10px;
}

.jobsjob .body .details span {
  color: #777;
}

/* End Jobs Box */

/* Start Componant */
