* {
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", serif;
  margin: 0;
}

.page {
  min-height: 100vh;
  background-color: #f1f5f9;
}

.page .sidebar {
  width: 250px;
  padding: 20px;
  box-shadow: 0 0 10px #ddd;
  width: 250px;
}

.navbar {
  padding: 15px;
}
