:root {
  --main-color: #0ea89b;
  --second-color: #a5f8f1;
  --main-background-color: #ecfdfc;
  --second-text-color: #565e6c;

  --main-section-top-padding: 90px;
  --main-section-bottom-padding: 90px;
}

* {
  box-sizing: border-box;

}

body {
  font-family: "Lato", sans-serif;
  /* font-family: "Sarabun", sans-serif; */
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

/* Start Componant */

.headTitel {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 39px;
  font-weight: 600;
  margin-bottom: 50px;
}

.headTitel .primaryWord {
  color: var(--main-color);
  margin-left: 10px;
  font-size: 43px;
}

.headTitel p {}

/* Start Componant */

