.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background: white;
  height: 64px;
}
.logo {
  display: flex;
  align-items: center;
}
.nav-logo img {
  width: 123px;
  height: 44px;
}
.nav-links {
  width: 412px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-links a {
  text-decoration: none;
  margin: 7px;
  color: rgba(86, 94, 108, 1);
  font-size: 14px;
  font-weight: bold;
  flex-wrap: wrap;
  transition: 0.3s;
}
.nav-links a:hover {
  color: rgba(14, 168, 155, 1);
}
.icons {
  gap: 15px;
  align-items: center;
  display: flex;
}
.icons a {
  color: rgba(144, 149, 160, 1);
  font-size: 16px;
}
.icons .bell {
  font-size: 18px;
}
.icons .down {
  font-size: 13px;
}
.icons img {
  width: 36px;
}

.home-pag {
  margin-top: 40px;
  margin-top: 40px;
  display: flex;
  gap: 40px;
}

.home-pag .container {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.home-pag .container .work-section section h1 {
  font-size: 19px;
  font-weight: 600;
}

.sidebar-container {
  text-align: center;
  display: flex;
  gap: 40px;
}
.sidebar-content {
  height: fit-content;
  background: white;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.055) 0 0 2px 1px;
  position: relative;
  overflow: hidden;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  padding: 20px;
}
.sidebar-content::before {
  content: "";
  width: 120px;
  height: 120px;
  background: rgba(165, 248, 241, 0.4);
  position: absolute;
  top: -50px;
  left: -50px;
  border-radius: 50%;
}
.profile-section {
  width: 100%;
  background: linear-gradient(
    to bottom,
    rgba(236, 253, 252, 1) 35%,
    transparent 35%
  );
  border-radius: 8px;
}
.profile-section h2 {
  color: rgba(14, 168, 155, 1);
}
.profile-section H3 {
  font-size: 17px;
}
.profile-section P {
  margin: 5% 15%;
  font-size: 15px;
  color: rgba(144, 149, 160, 1);
}
.profile-section img {
  width: 140px;
  margin-top: 40px;
  border-radius: 50%;
}
.skills-section {
  font-size: 14px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.skills-section p {
  background: rgba(243, 244, 246, 1);
  margin: 10px;
  padding: 5px;
  border-radius: 7px;
}
.profile-links {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10px;
}
.profile-links h3 {
  font-size: 15px;
  align-items: start;
  display: flex;
  color: rgba(66, 73, 85, 1);
  width: 316px;
}
.profile-links a {
  background: rgba(243, 244, 246, 1);
  width: 316px;
  height: 35px;
  border-radius: 5px;
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  color: black;
  text-decoration: none;
}
.connect-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 15px 0;
}
.connect-header {
  width: 316px;
  text-align: start;
  margin: 15px 0;
}
.connect-header h3 {
  color: rgba(23, 26, 31, 1);
  font-size: 15px;
  margin: 0;
}
.connect-img {
  width: 316px;
  display: flex;
  align-items: center;
}
.connect-img span {
  color: rgba(144, 149, 160, 1);
  margin-left: 5px;
  font-size: 14px;
}
.edit-profile a {
  width: 317px;
  height: 44px;
  margin-top: 25px;
  color: white;
  background: rgba(14, 168, 155, 1);
  border-radius: 8px;
  border: 0;
  font-size: 16px;
  transition: 0.3s;
  display: block;
  line-height: 3;
}
.edit-profile a:hover {
  background: rgba(10, 140, 130, 1);
}
.edit-profile i {
  color: white;
  font-size: 18px;
}
.job-section {
  background: rgba(255, 246, 240, 1);
  height: 584px;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  margin-top: 20px;
}
.job-section img {
  width: 307px;
  height: 308px;
}
.job-info {
  margin-top: 50px;
}
.job-info h3 {
  font-size: 20px;
  color: rgba(255, 131, 43, 1);
}
.job-info p {
  font-size: 15px;
  color: rgba(50, 56, 66, 1);
  margin-bottom: 10px;
}
.job-info button {
  width: 256px;
  height: 36px;
  background: #ff6600;
  color: #fff;
  border: none;
  padding: 8px 12px;
  margin-top: 30px;
  border-radius: 6px;
  font-size: 14px;
  transition: 0.3s;
}
.job-info button:hover {
  background: #cc5200;
}
.work-section {
  width: 100%;
  /* height: 650; */
}
.work-section section {
  background-color: #ffff;
  width: 100%;
  padding: 20px;
  margin: auto;
  border-radius: 5px;
  border: 1px solid #eee;
  margin-bottom: 15px;
  position: relative;
}

.work-section section.education {
}

.work-section section.education h1 {
}

.work-section section.education h3 {
  font-size: 20px;
}

.work-section section.education span {
}

.work-section section.education span i {
}

#work {
  background-color: #ffff;
  width: 100%;
  padding: 20px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid#ddd;
  margin-bottom: 30px;
}
#woek h1 {
  font-size: 24px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 25px;
}
.to {
  background-color: #f8eee2;
  font-size: 14px;
  color: #d87f02;
  margin-left: 1px;
  padding: 8px 10px;
  border-radius: 15px;
}
#work p {
  font-size: 16px;
  line-height: 1.5;
  text-align: justify;
}
.Exper {
  /* background-color: #fff; */
  /* margin: auto; */
  /* padding: 20px; */
  /* width: 700px; */
  /* border: 1px solid#ddd; */
  /* margin-bottom: 40px; */
  /* border-radius: 10px; */
  /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); */
}
.Exper h1 {
  font-size: 24px;
}
.Exper h3 {
  font-size: 18px;
  margin: 0;
  color: #333;
  margin-bottom: 15px;
  padding-left: 50px;
}
.Exper P {
  margin: 6px 25px;
  padding-left: 20px;
}
.detalis img {
  width: 50px;
  height: 50px;
}

.detalis {
  display: flex;
  padding: 15px 0;
  position: absolute;
}
.Wor h2 {
  display: inline;
  background-color: rgba(255, 246, 240, 1);
  font-size: 13px;
  color: #d87f02;
  margin-left: 25px;
  padding: 8px 10px;
  border-radius: 15px;
  position: absolute;
  right: 10px;
}
.Job {
  padding: 20px;
  margin: 5px;
  font-size: 14px;
  margin-bottom: 10px;
}
.Job span {
  margin-right: 15px 25px;
  color: #757373;
  padding-left: 50px;
}
.Exper a {
  color: green;
  text-decoration: none;
  font-size: 15px;
  display: inline-block;
  position: relative;
  left: 80%;
  top: -28px;
}
.Exper a:hover {
  text-decoration: underline;
}
#soft {
  background-color: #fff;
  margin: auto;
  padding: 20px;
  width: 700px;
  height: 390px;
  margin-bottom: 40px;
  border: 1px solid#ddd;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}
.fa-regular.fa-circle-check {
  color: rgba(14, 168, 155, 1);
}
.skill i {
  color: #cc5200;
}
.skill h1 {
  padding: 0 10px;
}
.skill h3 {
  display: inline-block;
  margin-left: 30px;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  padding: 15px;
}
.York h3 {
  color: white;
  background-color: rgba(14, 168, 155, 1);
  border-radius: 18px;
}
.design {
  display: inline-block;
  margin: auto;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  margin-left: 30px;
}
.e1 {
  background-color: rgb(224, 211, 237);
  color: rgb(98, 43, 150);
  border-radius: 30px;
  padding: 5px;
  margin-left: 20px;
}
.e2 {
  background-color: #f8eee2;
  color: #d87f02;
  border-radius: 30px;
  padding: 5px;
  margin-left: 20px;
}
#hard {
  background-color: #fff;
  margin: auto;
  padding: 20px;
  height: 230px;
  width: 700px;
  border: 1px solid#ddd;
  margin-bottom: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  align-items: center;
  display: flex;
  flex-direction: row;
}
#hard .logo {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

#hard h1 {
  color: rgba(23, 26, 31, 1);
  position: relative;
  bottom: 30px;
}
#hard img {
  width: 70px;
  height: 70px;
}
.arena {
  display: flex;
  flex-direction: column;
  /* padding-bottom: 40px;
  margin-left: 40px; */
}
.arena span {
  color: rgba(144, 149, 160, 1);
}
